/* HEADER */
.side-menu {
    width:320px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    height: 100%;

}
.header {
    height: 97px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-x: visible;
}

.header__wrapper,.header__wrapper-search {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrapper__list {
    
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    
}
.menu-burger-button,
.round-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.menu-burger-button {
    background-image: url("../img/burgerexit.svg");
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 97px;
    height: 51px;
    margin-left: 17px;
}

.button-search {
    background-image: url("../img/search.svg");
}

/* menu */
.menu {
    width: 320px;
    
    display: flex;
    justify-content: flex-start;
}
.menu__list {
    
    margin: 0;
    padding: 24px;
    padding-left: 24px;
    list-style: none;
    display: flex;
    gap: 17px;
}

.menu__item,
.menu__link--button {
    margin: 0;
    padding: 0;
}

.menu__link {
    
    text-decoration: none;
    color: rgb(27, 28, 33);    
    line-height: 24px;
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.menu__link--button {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu__link--call.round-icon {
    background-image: url("../img/callcall.svg");
}

.menu__link--write.round-icon {
    background-image: url("../img/chatmessage.svg");
}

.menu__link--login.round-icon
 {
    background-image: url("../img/profileuser.svg");
}


/* MAIN */
.main {
    width: auto;
    display: flex;
}
.navigation__item {
    display: flex;
    width: auto;
    height: 32px;
    align-items: center;
    padding-left: 24px;

}
.navigation__item--active {
    border-left: solid 4px #41F6D7;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    padding-left: 22px;
    left: -2px;
    color: #7E7E82;
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
}

.footer__contact {
    display: flex;
    padding-left: 24px;
}

.mail {
    font-weight: medium;
}
.contact__list {
 
}
.nomber {
    border:solid 1px #41F6D7;
    font-weight: bold;
}

